.button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
  }
  
  .button--primary {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  .button--primary.button--active {
    background-color: var(--color-background-tertiary);
    color: var(--color-white);
  }

  .button--primary.button--active:focus {
    outline: none;
  }

  .button--secondary {
    color: var(--color-black);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px 1px inset;
  }

  .button--sm {
    font-size: 12px;
    padding: 10px 16px;
  }
  .button--md {
    font-size: 14px;
    padding: 11px 20px;
  }

  .button--lg {
    font-size: 16px;
    padding: 12px 24px;
  }
  